/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  background-color: #f6f6f6;
}

.header {
  width: 100%;
  background-color: #212121;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.logo {
  width: 170px;
  height: 40px;
  border-radius: 30px;
  background-color: #fff;
  margin: 10px 0 10px 30px;
  display: inline-block;
}

.logo h1 {
  color: #121212;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 4px;
}
.logo h1 span {
  letter-spacing: 0;
  font-weight: bold;
}
.nav {
  padding: 12px;
  display: inline-block;
  float: right;
  margin: 10px 200px 0 0;
  border-radius: 30px;
}
.nav ul li {
  display: inline-block;
  margin: 0 35px 0 35px;
}
.nav ul li a {
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 2px;
  color: #f6f6f6;
}
.nav ul li a {
  font-weight: bold;
  transition: 0.5s;
}
.nav ul li a:hover {
  font-size: 20px;
}

.himg {
  margin-top: 60px;
  width: 100%;
  background-color: aqua;
  height: 500px;
  overflow: hidden;
}
.himg img {
  width: 100%;
  margin-top: -60px;
  filter: contrast(1.2);
}
.himg_text {
  position: absolute;
  top: 300px;
  left: 10px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  padding: 30px;
  border-radius: 30px;
}
.himg_text {
  color: #f6f6f6;
}
.himg_text p {
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 20px;
}
.himg_text span {
  font-size: 15px;
  font-weight: bold;
}
.himg_text h2 {
  font-size: 50px;
  letter-spacing: 1.5px;
  margin: 15px 0;
  opacity: 100%;
}
.judul {
  font-size: 50px;
  color: #30475e;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: bold;
}
.content {
  width: 100%;
}
.c1,
.c2,
.c4 {
  padding: 90px;
  box-sizing: border-box;
}

.c1 .judul {
  margin: 0 0 50px 0;
}
.c1text1 p {
  width: 49%;
  float: left;
  color: #30475e;
  letter-spacing: 2px;
  line-height: 20px;
}
.c1text2 p {
  width: 49%;
  float: right;
  color: #30475e;
  letter-spacing: 2px;
  line-height: 20px;
}
.c1img {
  width: 100%;
  height: 500px;
  margin: 70px 0 40px 0;
  border-radius: 30px;
  overflow: hidden;
  background-color: #ffffff;
}
.c1img img {
  width: 100%;
  margin-top: -20px;

}
.c2 {
  width: 100%;
  background-color: #121212;
}
.c2text1 .judul {
  color: #f6f6f6;
}
.c2text1 {
  color: #f6f6f6;
  width: 18%;
  display: inline-block;
  float: left;
}
.c2text1 p {
  margin-top: 25px;
  line-height: 25px;
  letter-spacing: 2px;
}
.c2img {
  width: 75%;
  display: inline-block;
  float: right;
}
.c2img1 {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  background-color: #212121;
  overflow: hidden;
}
.c2img1 img {
  width: 100%;
}
.c2img2 {
  margin-top: 30px;
  width: 100%;
}
.c2img2 img {
  width: 100%;
}
.c2img2 .c21 {
  width: 49%;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
}
.c2img2 .c22 {
  width: 49%;
  float: right;
  border-radius: 30px;
  overflow: hidden;
}
.c3 {
  width: 100%;
  height: 600px;
  background-color: #574444;
  overflow: hidden;
}
.c3 img {
  width: 100%;
}

.c4 {
  width: 100%;
}
.c4 h2 {
  text-align: center;
  margin-bottom: 20px;
}
.c4img {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  background-color: #121212;
  border-radius: 30px;
  overflow: hidden;

  margin-bottom: 60px;
}
.c4img img {
  margin-top: -215px;
  width: 100%;

  filter: contrast(1.2);
}
.c4text1 {
  width: 49%;
  display: inline-block;
  float: left;
}
.c4text2 {
  width: 49%;
  display: inline-block;
  float: right;
}
.subjdl {
  font-size: 25px;
  letter-spacing: 2px;
  color: #30475e;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-transform: capitalize;
}
.c4text1,
.c4text2 p {
  letter-spacing: 2px;
  line-height: 20px;
}
.footer {
  width: 100%;
  background-color: #212121;
  height: 100px;
}
